<section class="writing">
    <h2>Experience</h2>
    <ul>
      <li style="font-size: small;">
        <a href="https://tcs.com" target="_blank">Tata Consultancy Services</a>
        <span><i>Aug 2022 - Present</i></span>
      </li>
      <li>
        <span><i>Systems Engineer (Full Stack Developer)</i></span>
      </li>
      <li style="font-size: small;">
        <span>Java, Angular, Spring Boot, Microservices, JPA, Clean Code, TypeScript, RxJS, OAuth2, JWT, Agile, CI/CD, Jenkins, Git, Oracle, MongoDB</span>
      </li>
    </ul>
    <h2>Projects</h2>
    <ul>
      <li>
        <a href="https://github.com/bosecodes/stacks" target="_blank">Stacks: <i>Your one-stop app to master personal finance like a pro</i></a>
        <span style="font-size: small;">Angular, Spring Boot, MySQL, Spring Security + JWT, Hibernate</span>
      </li>
      <li>
        <a href="https://github.com/bosecodes/counter" target="_blank">Counter</a>
        <span style="font-size: small;">Angular, RxJS, Reactive Forms, Async pipes, Material UI, NgRx Store</span>
      </li>
    </ul>
</section>
  