body {
    margin: 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background: #101010;
    color: #fff;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  a {
    color: inherit;
  }
  
  * {
    box-sizing: border-box;
  }
  
  