<section class="home">
    <h1>Somdev Basu</h1>
    <p>Software Engineer and an occasional musician</p>
    <p>I'm consistently learning and evolving. I love diving into new ideas and finding creative ways to solve problems.</p>
    <div class="links">
      <a href="github.com/bosecodes" target="_blank">GitHub</a>
      <a href="linkedin.com/in/bosecodes" target="_blank">LinkedIn</a>
    </div>
    <br>
    <div class="btn">
      <a href="https://drive.google.com/file/d/1sE7B_Y0trCLC9fwMzGdZ2Lw3czG7HxiO/view?usp=sharing" target="_blank" class="download-button" download>Download Resume</a>
    </div>
  </section>
  